- python 3.7.X (including modules time, sys, argparse, math, os, datetime, errno, shutil)
- numpy
- scipy
- matplotlib
- libconf

Compilation:
- pyinstaller
* Run: pyinstaller --noconsole --clean --onefile main.py

GUI:
-PyQt5

GUI compilation:
- pyinstaller
* Run: pyinstaller --noconsole --clean --onedir --icon="gui/resources/icons/logo.ico" gui/AnisoDipFit_UI.py
* Copy the "gui/resources" folder into the folder with the executable.